<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do -%>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end -%>
    <dt>夏期休業日のお知らせ</dt>
    <dd>8/10(金)&#xff5e;8/19(日)</dd>
    <dt>営業時間</dt>
    <dd>毎週金土 10:00&#xFF5E;売り切れまで<br />
    お取り置きもできます。(0795-27-7032)</dd>
</dl>
