<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do -%>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end -%>
    <dt>6月の休業日について</dt>
    <dd>6/8(金)と6/9(土)は臨時休業します。</dd>
    <dt>営業時間</dt>
    <dd>毎週金土 10:00&#xFF5E;売り切れまで<br />
    お取り置きもできます！(0795-27-7032)</dd>
</dl>
