<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do %>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end %>
    お取り置きもできます。(0795-27-7032)</dd>
    <dt>Facebookページができました！</dt>
    <dd>
    「いいね」ボタンを押していただくと、営業日のメニューやパンの売れ行き等をお知らせします！
    &#x261e; <a href="http://www.facebook.com/coupebaguette" target="_blank"><%= image_tag 'fb.png' %></a>
    </dd>
    <dt>営業時間</dt>
    <dd>毎週金土 10:00&#xFF5E;売り切れまで<br />
</dl>
