<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do -%>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end -%>
    <dt>営業時間変更のお知らせ</dt>
    <dd>営業開始時間が10:00からになりました！<br />
    新しい営業時間は毎週金・土 10:00&#xFF5E;売り切れまでです。<br />
    皆様のご来店をお待ちしております。</dd>
    <dt>お取り置きできます！</dt>
    <dd>ご来店前にお電話をいただければお取り置きします。<br />
    0795-27-7032までお電話ください。</dd>
</dl>
