<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do %>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end %>
    <% if display? '2012/12/22' %>
      <dt>祝・開店1周年！</dt>
      <dd>感謝の気持ちを込めて、ささやかなプレゼントをご用意しています。詳しくは<a href="http://lapin418.exblog.jp/16908411/">こちら</a>をごらんください。</dd>
    <% end %>
    <% if display? '2013/1/6' %>
      <dt>年末年始の休業日</dt>
      <dd>12/28(金)&#xFF5E;1/6(日)</dd>
    <% end %>
    <dt>Facebookページが便利です！</dt>
    <dd>
    「いいね」ボタンを押していただくと、営業日の商品情報やパンの売れ行き等をお知らせします！
    &#x261e; <a href="http://www.facebook.com/coupebaguette" target="_blank"><%= image_tag 'fb.png' %></a>
    </dd>
    <dt>営業時間</dt>
    <dd>毎週金土 10:00&#xFF5E;売り切れまで<br />
    お取り置きもできます。(0795-27-7032)</dd>
</dl>
