<h2>Information</h2>
<dl>
    <dt>最新ブログ</dt>
    <%= content_tag :dd do -%>
      <% load_blog %>
      <%= link_to @blog_title + @blog_date, @blog_url %>
    <% end -%>
    <% if display?('2012/9/22') %>
      <dt>臨時休業のお知らせ</dt>
      <dd>9月22日(土)</dd>
    <% end %>
    <dt>営業時間</dt>
    <dd>毎週金土 10:00&#xFF5E;売り切れまで<br />
    お取り置きもできます。(0795-27-7032)</dd>
</dl>
