%h2 Menu
%dl
  %dt 山型食パン (1/2斤)
  %dd 350円
  %dt カンパーニュ (プレーン)
  %dd 600円 *
  %dt カンパーニュ (チーズ入り)
  %dd 700円 *
  %dt バゲット
  %dd 350円
  %dt ベーグル
  %dd 200円
  %dt 菓子パン
  %dd 150円
%p.note
  * ハーフサイズはそれぞれ半額です。
  %br/
  * Facebookページでその日のメニューをお知らせしています。 ☞
  %a{:href => "http://www.facebook.com/coupebaguette", :target => "_blank"}= image_tag 'fb.png'
