@mixin border-radius($radius: 4px)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

$font-color: #333
$accent-color: #AC1B4E

*
  margin: 0
  padding: 0
  line-height: 1.5
  color: $font-color
  font-weight: normal
  font-style: normal

body
  background: #F9F9F9
  font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","ＭＳ Ｐゴシック",Osaka,sans-serif
  font-size: 13px

header, footer, nav, section
  display: block

header
  width: 880px
  margin: 10px auto
#header-sub
  position: relative

nav
  position: absolute
  top: 0
  right: 0
  li
    float: left
    margin-left: 20px
    font-size: 12px
    font-weight: bold
    a
      padding: 5px

#content
  width: 880px
  margin: 10px auto 0 auto

footer
  width: 880px
  margin: 25px auto
  line-height: 16px
  padding-top: 5px
  border-top: 1px solid #E6E6E6

h1, h2, h3
  // font-size: 100%
  font-weight: bold

#logo
  h1, div
    display: inline

#logo h1 a, #ruby, #shop-copy
  font-family: Futura
  color: #6B492D!important

h2
  font-size: 18px
  font-weight: bold
  padding: 0 0 3px 0
  margin: 15px 0 15px 0
  border-bottom: 1px solid #666

a
  text-decoration: none
  &:link, &:visited
    color: $font-color
  &:active, &:hover
    color: $accent-color
  img
    vertical-align: bottom
    border: none

a.fb-icon
  img
    width: 16px
    height: 16px

li
  list-style: none

#primary
  position: relative
  dl
    background-color: rgba(255, 255, 255, 0.8)
    position: absolute
    width: 310px
    padding: 20px
    margin: 15px
    top: 0
    right: 0
    @include border-radius(4px)
    dt
      font-weight: bold
      margin-top: 10px
      color: $accent-color
    dd
      margin-bottom: 10px

#primary-image
  img
    width: 880px
    height: 550px
    @include border-radius(4px)

#concept
  &::after
    content: ''
    display: block
    clear: both
  .secondary
    float: left
    width: 430px
    img
      width: 430px
      height: 270px
      @include border-radius(4px)
    h3
      font-size: 16px
      margin: 5px 0 10px 0
    p
      font-size: 1.1em
      line-height: 1.7

#material
  margin-right: 20px

#concept-copy
  font-size: 1.5em
  font-weight: bold
  margin: 10px 0 30px 0
